.mainmenu {
  --margin-right: 2.5rem;
  position: relative;
  font-size: var(--font-size-small);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background: hsl(var(--hue), var(--sat), 40%);
  background: linear-gradient(
    0deg,
    hsl(var(--hue), var(--sat), 40%) 0%,
    hsl(var(--hue), var(--sat), 50%) 80%
  );
  color: hsl(var(--hue), var(--sat), 96%);
  box-shadow: 0 0.2rem 0.2rem 0.1rem hsl(var(--hue), var(--sat), 40%);
}
.mainmenu .logo,
.mainmenu .icon {
  padding: calc(var(--gap) + 0.2rem) calc(var(--gap) * 2) calc(var(--gap) - 0.2rem)
    var(--gap);
}
.mainmenu .logo {
  flex: 0 1 max-content;
  color: white;
}
.mainmenu .logo img {
  filter: invert(100%);
}
.mainmenu .logotext {
  display: none;
  padding-right: var(--gap);
  text-decoration: none;
  color: hsl(var(--hue), var(--sat), 96%);
  letter-spacing: 0.04em;
  flex: 0 0 max-content;
  text-align: left;
  font-style: italic;
  font-family: 'Ephesis', cursive;
  font-size: 2rem;
  margin-bottom: -0.4em;
}
.mainmenu .icon {
  font-size: 1rem;
  background-color: hsl(var(--hue), var(--sat), 40%);
  color: hsl(var(--hue), var(--sat), 96%);
  border: 0;
  cursor: pointer;
  flex: 0 0 2rem;
  text-align: right;
}
.mainmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 0 1 100%;
  display: flex;
  flex-flow: column nowrap;
  z-index: 2;
}
.mainmenu > ul {
  position: absolute;
  left: 0;
  top: calc(48px + var(--gap) * 3 + 2rem);
  width: calc(100vw - var(--scrollbar-width));
}
div.li-submenu .submenu {
  position: absolute;
  left: 0;
  top: calc(2rem + var(--gap));
  width: calc(100vw - var(--scrollbar-width));
}
.mainmenu > ul > li {
  position: relative;
}
.submenu .li-submenu {
  position: relative;
}
.mainmenu .close {
  display: none;
}

#menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: calc(3em + 1rem);
  appearance: none;
  color: white;
  margin: 4px 0 0 0;
}

#menu-toggle:checked ~ .close {
  display: inline-block;
}

#menu-toggle:checked ~ .open {
  display: none;
}

.mainmenu ul a {
  display: block;
  position: relative;
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: var(--gap);
  background-color: hsl(var(--hue), var(--sat), 40%);
  color: hsl(var(--hue), var(--sat), 96%);
  border-bottom: thin dotted hsl(var(--hue), var(--sat), 50%);
  transition-property: background-color, box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.mainmenu ul .active a {
  background-color: hsl(var(--hue), var(--sat), 35%);
}
.mainmenu ul a:hover,
.mainmenu ul a:focus,
.mainmenu ul a:focus-visible {
  background-color: hsl(var(--hue), var(--sat), 45%);
}

#menu-toggle ~ label {
  z-index: 3;
  margin: 0;
  background-color: transparent;
  outline: 2px solid transparent;
  transition-property: background-color, outline-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
#menu-toggle:checked ~ .close {
  display: inline-block;
}

#menu-toggle:checked ~ .open {
  display: none;
}
#menu-toggle ~ ul {
  display: none;
}
#menu-toggle:checked ~ ul {
  display: flex;
}

.li-submenu label,
.li-submenu i {
  display: inline-block;
}
.li-submenu input {
  position: absolute;
}
.li-submenu label {
  position: absolute;
  right: 0;
  bottom: -0.3rem;
  padding: 0;
  border: 0;
  height: calc(100% - 0.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--hue), var(--sat), 35%);
  color: hsl(var(--hue), var(--sat), 96%);
}
.li-submenu i {
  padding: var(--gap) 1em;
}
.submenu {
  position: absolute;
  top: calc(1em + var(--gap) * 2);
  left: 0;
  width: calc(100vw - var(--scrollbar-width));
  flex-flow: column nowrap;
  z-index: 3;
}
.mainmenu .submenu a {
  background-color: hsl(var(--hue), var(--sat), 35%);
}
.submenu ul a:hover,
.submenu ul a:focus,
.submenu ul a:focus-visible {
  background-color: hsl(var(--hue), var(--sat), 42%);
}

.li-submenu .close {
  font-size: var(--font-size-small);
  display: none;
}
.submenu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  height: 100%;
  z-index: 3;
  appearance: none;
  color: white;
  margin: 0;
  cursor: pointer;
}
#submenu-toggle3 {
  width: calc(50%);
}
.submenu-toggle ~ label {
  outline: 2px solid transparent;
  transition-property: background-color, outline-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.li-submenu .submenu-toggle:hover ~ label {
  background-color: hsl(var(--hue), var(--sat), 45%);
}
.submenu-toggle:checked ~ .close {
  display: block;
}

.submenu-toggle:checked ~ .open {
  display: none;
}
.user.li-submenu .full ~ .open,
.user.li-submenu .full ~ .close {
  height: 2rem;
  background-color: transparent;
}
.submenu-toggle ~ .submenu {
  display: none;
}
.submenu-toggle:checked ~ .submenu {
  display: flex;
}
.li-submenu .full {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  color: hsl(var(--hue), var(--sat), 96%);
  font-size: var(--font-size-normal);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 var(--margin-right) 0 0;
  border: 0;
  cursor: pointer;
  opacity: 0.8;
  transition-property: opacity, background-color, outline-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
div.li-submenu .submenu-toggle:hover ~ label {
  background-color: transparent;
  font-size: var(--font-size-small);
  opacity: 1;
}
.li-submenu.user {
  position: relative;
  order: 3;
  display: flex;
  flex: 1 0 calc(100vw - var(--scrollbar-width));
  justify-content: center;
  align-items: center;
}
.li-submenu.user > a,
.li-submenu.user > label {
  flex: 0 0 max-content;
  position: relative;
  margin-right: 0;
}
.li-submenu .full ~ ul a {
  background-color: hsl(var(--hue), var(--sat), 40%);
}
/* TUOTESIVUJEN ALAVALIKKO */
.secondary {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
.secondary ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}
.secondary li {
  position: relative;
}
.secondary a {
  display: inline-block;
  text-decoration: none;
  padding: calc(var(--gap) * 3) var(--gap);
}
.secondary a:hover {
  text-decoration: underline;
}
.secondary li.active a {
  color: hsl(var(--hue), var(--sat), 10%);
}

@media (min-width: 380px) {
  .mainmenu {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .mainmenu .icon {
    flex: 1 0 4rem;
  }
  /* #menu-toggle ~ label {
    margin: 0 var(--margin-right) 0 0;
  } */
  .li-submenu.user {
    flex: 0 1 max-content;
  }
  .mainmenu > ul {
    top: calc(48px + var(--gap) * 2);
  }
  #menu-toggle {
    right: 6.5rem;
  }
  #submenu-toggle3 ~ ul {
    width: auto;
    right: 0;
    left: initial;
    top: calc(2rem + var(--gap) * 2);
    width: calc(100vw - var(--scrollbar-width));
  }
}

@media (min-width: 576px) {
  .mainmenu {
    justify-content: flex-start;
  }
  .mainmenu .logotext {
    display: block;
    line-height: 1;
  }
  .mainmenu .logotext::first-letter {
    letter-spacing: -0.07em;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .mainmenu {
    --margin-right: 2.3rem;
  }
  #menu-toggle,
  .icon {
    display: none;
  }
  #menu-toggle ~ ul {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    justify-content: space-evenly;
    width: auto;
    max-width: 900px;
    margin: 0.5rem 0 -0.5rem;
    position: relative;
    top: 0;
    left: 0;
  }
  #menu-toggle ~ ul > li > a {
    background-color: transparent;
    border: 0;
    box-shadow: inset 0 -0.4rem 0.1rem -0.5rem hsl(var(--hue), var(--sat), 50%);
    position: relative;
  }
  #menu-toggle ~ ul a::after,
  .submenu-toggle ~ label::after,
  a.full::after {
    --height: 0.2rem;
    content: '';
    position: absolute;
    bottom: calc(var(--height) * -0.5);
    left: 0;
    width: 100%;
    height: var(--height);
    background-color: hsla(var(--hue), var(--sat), 50%, 0);
    box-shadow: 0 0 var(--height) 0 hsla(var(--hue), var(--sat), 50%, 0);
    z-index: 2;
    transition-property: background-color, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
  .submenu-toggle ~ label::after {
    bottom: calc(var(--height) * -1);
  }
  #menu-toggle ~ ul a:hover::after,
  .submenu-toggle:hover ~ label::after,
  #menu-toggle ~ ul .active a::after,
  a.full:hover::after {
    background-color: hsla(var(--hue), var(--sat), 50%, 1);
    box-shadow: 0 0 var(--height) 0 hsla(var(--hue), var(--sat), 50%, 1);
  }
  #menu-toggle ~ ul .li-submenu .submenu {
    margin-right: var(--margin-right);
  }
  #menu-toggle ~ ul .li-submenu > a {
    margin: 0;
    padding-right: calc(var(--margin-right) + var(--gap));
  }
  .li-submenu .full,
  .li-submenu input:hover ~ .full {
    background-color: transparent;
    margin: 0.3rem 0 -0.3rem 0;
    padding: 0.3rem var(--margin-right) 0.1rem 0.1rem;
  }
  .mainmenu .li-submenu .full + ul a span {
    display: inline-block;
    padding-right: calc(2 * var(--gap));
  }
  .submenu-toggle {
    width: var(--margin-right);
  }
  .submenu {
    width: calc(100% + 3rem + var(--gap));
    left: calc(var(--gap) * -2);
    top: calc(1em + var(--gap) * 3);
  }
  #submenu-toggle3 ~ ul {
    width: auto;
    flex: 0 1 max-content;
    right: 0;
    left: initial;
  }
  #menu-toggle ~ ul .li-submenu #submenu3 {
    left: calc(var(--gap) * -2 - var(--margin-right));
    width: auto;
    margin-right: calc(-1 * var(--margin-right));
  }
  .submenu-toggle ~ label,
  .li-submenu .submenu-toggle:hover ~ label {
    background-color: transparent;
  }
  .submenu-toggle ~ label {
    border-radius: 3px;
    margin: 0.15rem 0 -0.15rem;
  }
  .submenu-toggle ~ ul a {
    text-align: left;
    padding-left: calc(var(--gap) * 3);
    background-color: hsl(var(--hue), var(--sat), 40%);
  }
  .li-submenu.user ~ label {
    height: 1rem;
    margin: 0.5rem 0 -0.5rem;
  }
  .li-submenu label {
    bottom: 0.2rem;
    height: calc(100% - 0.2rem);
  }
  .user.li-submenu .full ~ .open,
  .user.li-submenu .full ~ .close {
    bottom: -0.05rem;
    height: 2rem;
    position: absolute;
  }
}

@media (min-width: 1400px) {
}
