:root {
  --hue: 213;
  --sat: 100%;
  --gap: 10px;
  --font-size-normal: 16px;
  --font-size-small: 13px;
  font-size: var(--font-size-normal);
}
* {
  box-sizing: border-box;
}
*:focus-visible {
  outline: 2px dashed currentColor;
  outline-offset: 2px;
}
body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  justify-content: space-between;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
main {
  padding: var(--gap);
}
main > * {
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin: 0;
  padding: var(--gap) var(--gap) calc(var(--gap) * 2) var(--gap);
  background-color: hsl(var(--hue), var(--sat), 90%);
  color: hsl(var(--hue), var(--sat), 20%);
  box-shadow: inset 0 -1rem 1rem -0.6rem hsl(var(--hue), var(--sat), 100%),
    inset 0 1rem 1.3rem -1.4rem hsl(var(--hue), var(--sat), 30%);
}
h2 {
  text-align: center;
  margin: calc(var(--gap) * 2) 0;
}
a {
  color: hsl(var(--hue), var(--sat), 40%);
}
footer {
  text-align: center;
  background-color: hsl(var(--hue), var(--sat), 10%);
  color: hsl(var(--hue), var(--sat), 100%);
  padding: var(--gap);
}
@media (min-width: 576px) {
  :root {
    --font-size-normal: 20px;
    --font-size-small: 16px;
  }
}
