.posts {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.2rem 2%;
}
.posts article {
  padding: 0;
  margin: 0;
  background-color: hsl(var(--hue), var(--sat), 90%);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0.06rem 0.1rem 0.4rem -0.2rem hsl(var(--hue), var(--sat), 10%);
}
.posts p,
.posts h2 {
  margin: 0;
  padding: 0 1rem 0 1rem;
}
.posts header {
  background: hsl(var(--hue), var(--sat), 85%);
  background: linear-gradient(
    0deg,
    hsl(var(--hue), var(--sat), 75%) 0%,
    hsl(var(--hue), var(--sat), 90%) 100%
  );
}
.posts h2 {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.2em;
  text-align: left;
  padding-top: 0.6rem;
  padding-bottom: 0.2em;
  font-size: 1.3rem;
  line-height: 1.1;
}
.posts p {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background: linear-gradient(
    0deg,
    hsl(var(--hue), var(--sat), 90%) 0%,
    hsl(var(--hue), var(--sat), 85%) 100%
  );
  box-shadow: inset 0 0.6rem 0.8rem -0.6rem hsl(var(--hue), var(--sat), 100%),
    inset 0 -0.3rem 0.4rem -0.3rem hsl(var(--hue), var(--sat), 100%);
}
